<!doctype html>
<html lang="en">
    {% include 'head.jinja2' %}
    <body>
        <div class="accent-hero"></div>
        <div class="container">
            {% include 'header.jinja2' %}
            {% include 'weather_result.jinja2' %}
            {% include 'forecast.jinja2' %}
            {% include 'data_container.jinja2' %}
        </div>
    </body>
</html>