<div class="accent-data"></div>
<div class="data-container">
    <h2 class="data-title">Weather Data</h2>
    <canvas id="weatherData" width="600" height="600"></canvas>
</div>
<div class="accent-data-2"></div>