<div class="header">
    <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Martian Weather Logo" width="64" height="64"/>
    <h1 class="title">Martian Weather</h1>
</div>