<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon"/>
    <title>Martian Weather</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/condition.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/data.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forecast.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gauges.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shaders.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/std.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>

    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/forecast.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/weather.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/display.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/weatherCodes.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>